@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

#to-do-lists {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px silver;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

li:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 0.863);
}

#to-do-lists li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 15px;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(192, 192, 192, 0.363);
  background-color: white;
  overflow: hidden;
  position: relative;
}

#to-do-lists li input[type="text"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 0;

  /* margin-right: 10%; */
  background: transparent;
  padding-left: 10%;
  z-index: 1;
  outline: none;
  border: none;
}

#to-do-lists li input[type="checkbox"] {
  z-index: 2;
}

#to-do-lists li.edit {
  background-color: antiquewhite;
}

#to-do-lists .icon,
#to-do-lists .task-icon {
  width: 30px;
  height: 30px;
  display: block;
  background: url("./icons/re-fresh.svg");
  background-size: contain;
  background-position: center;
  z-index: 2;
}

#to-do-lists .task-icon {
  background: url("./icons/menu_vertical.svg");
}

#to-do-lists .task-icon.edit {
  background: url("./icons/trash_can.svg");
}

.title {
  font-size: 1.6rem;
}

#new-task {
  outline: none;
  width: 100%;
  max-width: 100%;
  line-height: 30px;
  border: none;
  font-size: 1.4rem;
  padding: 5px;
  font-style: italic;
}

li#clear-list {
  background-color: rgba(192, 192, 192, 0.322);
  display: block;
}

li p {
  margin: 5px;
  text-align: center;
}

#to-do-lists div {
  flex-grow: 1;
}

#to-do-lists li label {
  margin-left: 5%;
}
